li {
    list-style: none;
    margin: 10px auto;
    width: 50%;
    background-color: thistle;
}

li span {
    width: 30%;
    display: inline-block;
}

li button {
    width: 10%
}

.edit {
    list-style: none;
    margin: 10px auto;
    width: 50%;
    background-color: thistle;
}

.edit button {
    width: 22%;
}

.edit input {
    width: 25%;
}